html, body {
  padding: 0;
  margin: 0;
}

html { 
  background-color: #eee;
  text-align: center;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/math2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

#form-container {
  width: 600px;
  max-width: 100%;
  min-height: 540px;
  max-height: 100%;
  background: #F5F5F5;
  margin: 10% auto;
  font-family: Georgia, serif;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-bottom: 5%;
}

#form-header {
  width: 100%;
  height: 6rem;
  text-align: center;
  line-height: 6rem;
  font-size: 2.6rem;
}

#form-proper {
  margin-top: 2rem;
  width: 100%;
  height: 24rem;
}


label {
  width: 100%;
  text-align: center;
  display: inline-block;
}

label:first-child {
  margin-top: 2rem;
}

input {
  margin: 2rem auto;
  margin-top: 0.2rem;
  height: 2rem;
  width: 10rem;
  font-size: 1.6rem;
  display: block;
}

#submit {
  text-align: center;
  color: #FFF;
  font-family: Arial;
  letter-spacing: 0px;
  font-size: 1.2rem;
  background: #4090e9;
  width: 8rem;
  height: 3rem;
  margin: 0 auto;
  line-height: 3rem;
}

#submit:hover {
  cursor: pointer;
}

#message {
  width: 100%;
  text-align: center;
}
