<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>pentamath - Login</title>
  <link rel="stylesheet" href="/static/css/login.css" />
</head>
<body>
  <div id="box">
    <div id="logo">
      <img id="picture" src="/static/images/MainTitle.png">
    </div>
    <form method="POST" action="/login" id="form">
    <div id="userpass">
      <input name="username" type="text" id="username" placeholder="username">
      <input name="password" type="password" id="password" placeholder="password">
    </div>
    <input type="submit" value="log in">
  </form>
  </div> 
</body>
<script src="/static/js/game.js"></script>
<script type="text/javascript">
  document.querySelector('#password').addEventListener('keypress', function(e){
              var key = e.which || e.keyCode;
              if(key === 13) {
                document.getElementById("form").submit();
            }
              
            });
</script>
</html>