<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/play.css">
    <title>pentamath - Play</title>
    </head>
    <body>
        <div>
          <a href="practice.html" id="practice">Practice</a>
          <a href="room.html" id="room">Create/Join Room</a>
          <a href="versus.html" id="versus">Versus</a>
        </div>
        <div id="background"></div>
        <div id="messagebox">
            <ul id="messages">
            </ul>
        </div>
        <div>
        <input type="text" id="message"/>
        <button id="send">Send</button>
        </div>
        <script>

            'use strict';

            function getCookie(name) {
              var value = "; " + document.cookie;
              var parts = value.split("; " + name + "=");
              if (parts.length == 2) return parts.pop().split(";").shift();
            }

            var msgList = document.getElementById("messages");
            var connection = new WebSocket('ws://192.168.0.116:8000');
            var message = document.getElementById("message");
            var send = document.getElementById("send");
        

            connection.onmessage = function (msg) {
                var response = JSON.parse(msg.data);
                if (response.type === 'globalChatMessage')
                  messages.innerHTML += ("<li>" + response.from + ': ' + response.message + "</li>");
                else
                  messages.innerHTML += ("<li>" + 'SERVER: ' + response.message + "</li>");
            };

            send.addEventListener('click', function () {
                connection.send(message.value);
            });

            connection.onopen = function () {
                connection.send(getCookie('pentamath-uid'));
            };

        </script>
    </body>
</html>
