<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="/static/css/play.css">
      <title>pentamath - Play</title>
    </head>
    <body>
    <div id="fade"></div>
      <div id="lobby_options">
        <div id="lobby_header">Lobby Options</div>
        <div id="lobby_difficulty">
          Difficulty: 
          <select id="difficulty">
            <option>easy</option>
            <option>medium</option>
            <option>hard</option>
          </select>
        </div>
        <div id="lobby_playing">
          Are you playing: 
          <select id="playing">
            <option>yes</option>
            <option>no</option>
          </select>
        </div>
        <div id="lobby_button">
          <a href="#" id="create" class="myButton">Create Game</a>
        </div>
        </div>
        <div id="versus_options">
        <div id="versus_name">
          User To Challenge: 
          <input type="text" id="versus_user"/>
        </div>
        <div id="versus_button">
          <a href="#" id="create" class="myButton">Challenge!</a>
        </div>
        </div>
        <div id="logo">
          <img style="height:auto; width:100%; " src="/static/images/MainTitle.png">
        </div>
        <div>
          <a href="/practice" id="practice" class="myButton">Practice</a>
          <a id="lobby" class="myButton">Lobby</a>
          <a id="versus" class="myButton">Versus</a>
        </div>
        <div id="background"></div>
        <div id="messagebox">
            <div id="seperator">
                <ul id="messages">
                </ul>
            </div>
            <div id="textline">
            <input type="text" id="message"/>
            <button id="send">Send</button>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript">
          $('#lobby').on('click', function () {
            $('#fade').css('display', 'block');
            $('#lobby_options').css('display', 'block');
          });
        </script>
        <script type="text/javascript">
          $('#fade').on('click',function () {
            $('#fade').css('display', 'none');
            $('#lobby_options').css('display', 'none');
            $('#versus_options').css('display', 'none');
          });  
        </script>
        <script type="text/javascript">
          $('#versus').on('click', function () {
            $('#fade').css('display', 'block');
            $('#versus_options').css('display', 'block');
          });
        </script>
        <script>
          var GameConfig = {
            host: '{{ host }}',
            port: 8000,
            inRoom: false,
            onOpen: function () {
              $('#create').on('click', function () {
                var difficulty = $('#difficulty').find(':selected').text();
                var playing = $('#playing').find(':selected').text();
                $('<form action="/createroom" method="POST" />')
                  .append($('<input type="hidden" name="playing" value="' + playing + '">'))
                  .append($('<input type="hidden" name="difficulty" value="' + difficulty + '">'))
                  .appendTo($(document.body))
                  .submit();
              });
            }
          };
        </script>
        <script type="text/javascript" src="/static/js/game.js"></script>
    </body>
</html>
