<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>pentamath - Practice</title>
  <link rel="stylesheet" href="/static/css/practice.css">
</head>
<body>
  <div class="performance">
    <ul></ul>
    <li class="circle c1"></li>
    <li class="circle c2"></li>
    <li class="circle c3"></li>
    <li class="circle c4"></li>
    <li class="circle c5"></li>
  </div>
  <div id="question">Question</div>
  <div class="answer-container">
    <input type="text" id="answer" />
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  <script>
    var GameConfig = {
      host: '{{ host }}',
      port: 8000,
      inRoom: false
    };
  </script>

  <script src="/static/js/game.js"></script>

  <script>
    'use strict';

    var problemList = [];
    var answerList = [];
    var timeoutID;
    var i = 0;

    function startPractice() {
      if (i === 5) {
        $('#question').html('Finished');
        return;
      }
      $('#question').html('$$' + problemList[i] + '$$');
      MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
      timeoutID = window.setTimeout(function () {
        $('.c' + (i+1)).addClass('wrong');
        ++i;
        startPractice();
      }, 15000);
    }

    function handleAnswer(ans) {
      if (ans === answerList[i]) {
          $('.c' + (i+1)).addClass('right');
      } else {
          $('.c' + (i+1)).addClass('wrong');
      }
      ++i;
      window.clearTimeout(timeoutID);
      startPractice();
    }

  window.setTimeout(function () {connection.send('practiceProblems');}, 1000);

  </script>

</body>
</html>
