<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/room.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/TimeCircles.js"></script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <link rel="stylesheet" href="/static/css/TimeCircles.css">
    <title>pentamath - Room</title>
    </head>
    <body>
        <div id="background"></div>
        <div id="face">
          <div id="game">
            <div id="lobby"></div>
            <dic id="question_number"></div>
              <div id="time" data-timer="15"></div>
            <div id="question_box">
              <p id="question"></p>
            </div>
              <div>
              <input type="tel" id="answer" />
             </div>
            </div>
            <div id="messagebox">
              <div id="seperator">
                <ul id="messages">
                </ul>
              </div>
              <div id="textline">
                <input type="text" id="message" placeholder="Shift+Enter For Global Message"/>
                <button id="send">Send</button>
              </div>
          </div>
        </div>

        <script>

          'use strict';

          var GameConfig = {
            host: '{{ host }}',
            port: 8000,
            inRoom: true,
            roomOwner: '{{ owner }}',
            own: {{ own }},
            onOpen: function () {
              console.log('own: ' + GameConfig.own);
              if (GameConfig.own) {
                connection.send('newRoom');
                connection.send('true');
                GameConfig.onSend = function (command) {
                  if (command === '/start') {
                    connection.send('start');
                    $('#message').val('');
                  }
                }
              } else {
                connection.send('joinRoom');
                connection.send(GameConfig.roomOwner);
              }
            }
          };
        </script>

        <script src="/static/js/game.js"></script>

        <script>

          function handleAnswer(ans) {
            console.log('SENDING ANSWER: ' + ans);
            connection.send(ans);
            $('#time').TimeCircles().stop();
          }


          $(function() {
            $("#time").TimeCircles({count_past_zero: false, total_duration: 15, time: { Days: { show: false }, Hours: { show: false }, Minutes: { show: false }, Seconds: { text: "Seconds Left"} }}); 
            $('#time').TimeCircles().restart();
            $('#time').TimeCircles().addListener(function (unit, value, total) {
              if (total === 0) {
                connection.send('OUT OF TIME');
              }
            });
          });
          
        </script>
    </body>
</html>