<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/index.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400' rel='stylesheet' type='text/css'>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <title>pentamath - Home</title>
</head>
<body>
  <div id="background"></div>
  <div id="logo">Scoreboard</div>
  <div id="list">
    <ol id="score-list">
    </ol>
  </div>
  <div id="container">
    <div id="problem">problem</div>
    <div id="timer"></div>
  </div>

  <script>
    var GameConfig = {
      port: 5000,
      host: '{{ host }}',
      onOpen: function () {

      }
    };
  </script>
  
    
</body>
</html>
